/*Hide Players console*/
#players--showing {
    display: none;
}

/*Style .jumbotron in section1*/
.jumbotron{
    background-color: #D6EAF8;
}

/*Style h1 in section1*/
.section1 h1{
    text-align: center;
    font-family: 'Miltonian', cursive;
    font-size: 8em;
}

/*Style section2*/
.section2 {
    font-family: 'Milonga', cursive;
    font-size: 2em;
}

/*Style h2 in section2*/
.section2 h2 {
    text-align: center;
    font-size: 3em;
    cursor: pointer;
    color: #0088cc;
}

.section2 h2:hover {
    text-decoration: underline;
}

/*Style .section3*/
.section3 {
    font-family: 'Milonga', cursive;
    font-size: 2em;
}

/*Style #playButton in section3*/
#playButton {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 2em;
    background-color: #85C1E9;
    border: 0.005em solid #0088cc;
}

/*Style section4*/
.section4 {
    font-family: 'Milonga', cursive;
    font-size: 2em;
    text-align: justify;
}

/*Style h3 in section4*/
.section4 h3 {
    font-size: 2em;
}

/*Style #player1Console in section4*/
#player1Console {
    padding-left: 5em;
}

/*Style #player2Console in section4*/
#player2Console {
    padding-left: 5em;
}

/*Style #rollButton1 and #rollButton2 in section4*/
#rollButton1, #rollButton2 {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-right: 0.5em;
    background-color: #85C1E9;
    border: 0.005em solid #0088cc;
}

/*Style #holdButton1 and #holdButton2 in section4*/
#holdButton1, #holdButton2 {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.5em;
    background-color: #85C1E9;
    border: 0.005em solid #0088cc;
}

/*Style #newGameButton in section4*/
#newGameButton {    
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 16em;
    background-color: #85C1E9;
    border: 0.005em solid #0088cc;
}




